body {
	background-color: #444B59;
	background-image: url('../assets/river_cool_edited.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}

.header {
	position: relative;
	margin-right: 0;
	margin-left: 0;
	margin-top: 0;
	height: 75px;
	width: 100%;
	right: 0;
	left: 0;
	top: 0;
	background-color: #FFFFFF;
	opacity: 0.60;
}

.header > .logo {
	font-family: 'Oswald', sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	padding-top: 25px;
	font-size: 15px;
	display: block;
	color: #000000;
	left: 10px;

	background-image: url('../assets/logo3.png');
	background-repeat: no-repeat;
	background-position: 8px 0px;
	background-size: 200px 70px;
	position: absolute;
	cursor: hand;
	height: 70px;
	width: 200px;
	margin-top: 3px;
}

.header ul {
    list-style-type: none;
    padding-top: 20px;
    overflow: hidden;
}

.header li {
    float: right;
}

.header a {
	font-family: 'Oswald', sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	width: 150px;
	cursor: hand;
	/*color: #C2C2C2;*/
	color: #001223;
  transition: color 0.5s;
	text-align: center;
}

.header a:hover {
	/*color: #CFCFCF;*/
	color: #90ABA7;
}

.banner {
	background-image: url('../assets/river_cool_edited.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 89%;
	width: 100%;
	right: 0;
}

.quote {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	width: 100%;
	float: left;
	bottom: 0;
	left: 30px;
}

@font-face {
    font-family: 'Cinzel Black';
    src: url('../assets/fonts/Cinzel-Black.ttf');
}

#first {
	font-family: 'Cinzel Black', serif;
	letter-spacing: 5px;
}

#first:hover {
	text-shadow: -4px 0px 100px rgba(255, 255, 255, 1);
	opacity: 1.0;
}

.quote > .bigQuote {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 150px;
	color: white;
	opacity: 0.8;
}
