body {
	background-color: black;
}

.header {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	height: 75px;
	width: 100%;
	right: 0;
	left: 0;
}

.header > .logo {
	font-family: 'Oswald', sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	padding-top: 25px;
	font-size: 15px;
	display: block;
	color: white;
	left: 20px;

	background-image: url('../assets/logo2.png');
	background-repeat: no-repeat;
	background-position: 8px 0px;
	background-size: 70px 70px;
	position: absolute;
	cursor: hand;
	height: 70px;
	width: 150px;
}

.header ul {
    list-style-type: none;
    padding-top: 20px;
    overflow: hidden;
}

.header li {
    float: right;
}

.header a {
	font-family: 'Oswald', sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 20px;
	display: block;
	width: 150px;
	cursor: hand;
	color: gray;

    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.header a:hover {
	color: white;
}

.banner {
	background-image: url('../assets/bg11-edited.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 89%;
	width: 100%;
	right: 0;
}

.quote {
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	padding: 13px;
	width: 275px;
	float: right;
	right: 5%;
	top: 55%;
}

.quote > .bigQuote {
	font-family: 'Droid Serif', serif;
	font-size: 50px;
	color: white;
	opacity: 0.9;
}

.quote > .smallQuote {
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 25px;
	font-size: 15px;
	color: white;
}